@import url("https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Crimson+Text:wght@400;600;700&display=swap");

/*
 ______________________________________________
|                                              |
|        DEFAULT BODY AND ROOT TAG CSS         |
|______________________________________________|

*/

:root {
  --dark-blue: #023047;
  --light-shades: #edf6f9;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Lobster Two", cursive;
  box-sizing: border-box;
  background: var(--dark-blue);
}

ParticleBackground{
      width: "100%";
      height: "100%";    
}

.movieBody{
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  margin: 0 auto;
  
}

/*
 ______________________________________________
|                                              |
|              UTILITIES CLASS                 |
|______________________________________________|

*/



.container {
  max-width: 80%;
  margin: 0rem auto;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/*
 ______________________________________________
|                                              |
|             HEADER CLASS                     |
|______________________________________________|

*/

.header {
  background-color: var(--light-shades);
  margin: 0;
  border-bottom-left-radius: 4rem;
  border-bottom-right-radius: 4rem;
}

.space {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 2.5rem;
}

.space1 {
  width: 2rem;
  height: 0.15rem;
  background-color: var(--dark-blue);
  border: 0.125rem solid var(--dark-blue);
  border-radius: 2rem;
  margin-right: 0.125rem;
  margin-bottom: 0.5rem;
}

.space2 {
  width: 0.15rem;
  height: 0.15rem;
  background-color: var(--dark-blue);
  border: 0.125rem solid var(--dark-blue);
  border-radius: 100%;
  margin-left: 0.125rem;
  margin-bottom: 0.5rem;
}

span {
  filter: contrast(200%);
}

#heading {
  margin: 0 auto;
  padding: 2rem 0rem;
  text-align: center;
  font-size: 2.5em;
  padding-bottom: 0.5rem;
  margin-top: -1rem;
  color: var(--dark-blue);
}

/*
 ______________________________________________
|                                              |
|             SUB-HEADING CLASS                |
|______________________________________________|

*/

.subHead-Conti {
  width: 700px;
  justify-content: space-evenly;
  flex-direction: column;
}

.subHeadings {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  color: var(--light-shades);
}

p {
  font-family: "Crimson Text", serif;
  margin: 1rem 1.5rem;
  line-height: 1.5;
  font-size: 1.1rem;
  letter-spacing: 0.125rem;
  cursor: pointer;
  transition: 100ms ease-in-out;
}

p:hover,
p:focus,
p:active {
  transform: scale(0.9);
  border-bottom: 2px solid var(--light-shades);
}

/*
 ______________________________________________
|                                              |
|           MOVIE-LIST CLASS                   |
|______________________________________________|

*/

.movieList-conti {
  width: 700px;
  display: grid;
  margin: 0rem auto;
  justify-content: space-evenly;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  align-items: center;
}

.movies-card {
  background-color: transparent;
  width: 22rem;
  height: 30rem;
  perspective: 62rem;
  margin: 1rem auto;
}

img {
  width: 22rem;
  height: 30rem;
  border-radius: 1rem;
  margin-bottom: 3rem;
}

.moviesCard-Content {
  display: flex;
  flex-direction: row;
  color: var(--light-shades);
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  cursor: pointer;
  transition: transform 1.2s ease-in-out;
  transform-style: preserve-3d;
}

.movies-card:hover .moviesCard-Content {
  transform: rotateY(180deg);
}

.poster,
.movieDetails {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

.movieDetails {
  background-color: var(--light-shades);
  color: var(--dark-blue);
  transform: rotateY(180deg);
  border-radius: 1rem;
}

.movieDetails p:hover,
.movieDetails p:focus {
  cursor: auto;
  transform: none;
  border-bottom: none;
}

#movie-title {
  text-transform: uppercase;
  font-family: "Lobster Two", cursive;
  font-weight: 700;
  font-size: 1.5rem;
}

.movieDetails p:nth-child(2),
.movieDetails p:nth-child(3),
.movieDetails p:nth-child(4),
.movieDetails p:nth-child(5) {
  font-weight: 600;
}

#btn {
  text-transform: capitalize;
  font-family: "Crimson Text", serif;
  font-weight: 400;
  font-size: 1.2rem;
  display: inline-block;
  padding: 0.7rem;
  border-radius: 5px;
  margin: 1rem;
  text-decoration: none;
  border: none;
  color: var(--light-shades);
  background-color: var(--dark-blue);
  transition: 300ms ease-in-out;
}

#btn:hover {
  cursor: pointer;
  transform: scale(0.9);
}

/*
 ______________________________________________
|                                              |
|             FOOTER SECTION CSS               |
|______________________________________________|

*/

footer {
  background-color: var(--light-shades);
  color: var(--dark-blue);
  bottom: 0;
  right: 0;
  left: 0;
}

.footerConti {
  width: 700px;
  justify-content: space-between;
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.copyright {
  margin: 1rem 0rem;
}

.copyrightText {
  margin: 0.3rem;
}

#cp:hover,
#cp:focus {
  cursor: auto;
  transform: none;
  border-bottom: none;
}

.socialMedia {
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}

a {
  margin: 0rem 0.5rem;
}

i {
  color: var(--dark-blue);
}

/*
 ______________________________________________
|                                              |
|            MEDIA QUERIES CSS                 |
|______________________________________________|

*/

/* media-query-760px */

@media screen and (max-width: 760px) {
    
  .container {
    max-width: fit-content;
    justify-content: center;
  }

  #heading {
    margin: 0rem 1rem;
    font-size: 1.5rem;
    margin-top: -1rem;
  }

  .subHeadings {
    justify-content: center;
  }

  .movieList-conti {
    width: 100%;
    justify-content: center;
    grid-template-columns: repeat(1, 1fr);
  }

  .footerConti {
    justify-content: space-around;
    align-items: center;
  }
}

/* media-query-560px */

@media screen and (max-width: 560px) {
  .container {
    max-width: 100%;
    justify-content: center;
  }

  .header {
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
  }

  #heading {
    margin: 1rem 0rem;
    padding: 3rem 0rem;
    text-align: center;
    font-size: 1.1rem;
    padding-bottom: 0rem;
    margin-top: -2rem;
  }

  .subHeadings {
    justify-content: center;
    align-items: center;
    color: var(--light-shades);
    margin: 0rem;
  }

  .subHeadings p {
    margin: 0.5rem;
  }

  .space {
    display: none;
    flex-direction: none;
    justify-content: none;
    align-items: none;
    margin-top: none;
  }

  .space1 {
    width: none;
    height: none;
    background-color: none;
    border: none;
    border-radius: none;
    margin-right: none;
    margin-bottom: none;
  }

  .space2 {
    width: none;
    height: none;
    background-color: none;
    border: none;
    border-radius: none;
    margin-left: none;
    margin-bottom: none;
  }

  .movies-card {
    margin: 1rem;
  }

  .movieList-conti {
    max-width: 70%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 0rem;
    align-items: center;
  }

  .footerConti {
    flex-direction: column;
  }

  h2 {
    font-size: 1.2rem;
  }

  #cp {
    font-size: 0.9rem;
  }

  .socialMedia {
    margin-bottom: 0.6rem;
    font-size: 0.9rem;
  }
}

/* media-query-361px */

@media screen and (max-width: 361px) {
  .container {
    max-width: 80%;
    justify-content: center;
  }

  #movie-title {
    font-size: 1.1rem;
  }

  .movieDetails p:nth-child(2),
  .movieDetails p:nth-child(3),
  .movieDetails p:nth-child(4),
  .movieDetails p:nth-child(5) {
    font-weight: 600;
    font-size: 1rem;
    margin: auto;
  }

  .movies-card,
  img {
    width: 18rem;
    height: 29rem;
  }
}

