@import url("https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap");
:root {
  --dark-blue: #023047;
  --light-shades: #edf6f9;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Lobster Two", cursive;
  box-sizing: border-box;
  background: var(--dark-blue);
  /* line-height: 1.5; */
  /* font-family: 'Crimson Text', serif; */
}

.container {
  max-width: 80%;
  margin: 0rem auto;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header {
  background-color: var(--light-shades);
  margin: 0;
  border-bottom-left-radius: 4rem;
  border-bottom-right-radius: 4rem;
}

.space {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 2.5rem;
}

.space1 {
  width: 2rem;
  height: 3px;
  background-color: var(--dark-blue);
  border: 2px solid var(--dark-blue);
  border-radius: 2rem;
  margin-right: 0.125rem;
  margin-bottom: 0.5rem;
}

.space2 {
  width: 3px;
  height: 3px;
  background-color: var(--dark-blue);
  border: 2px solid var(--dark-blue);
  border-radius: 2rem;
  border-radius: 50%;
  margin-left: 0.125rem;
  margin-bottom: 0.5rem;
}

span {
  filter: contrast(200%);
}

#heading {
 margin: 0 auto;
  padding: 2rem 0rem;
  text-align: center;
  font-size: 2.5em;
  padding-bottom: 0.5rem;
  /* margin-right: 13rem; change this for smaller width */
  margin-top: -1rem;
  color: var(--dark-blue);
}

.subHead-Conti {
  width: 700px;
  justify-content: space-evenly;
}

.subHeadings {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  color: var(--light-shades);
}

p {
  font-family: "Crimson Text", serif;
  margin: 1rem 1.5rem;
  line-height: 1.5;
  font-size: 1.1rem;
  letter-spacing: 0.125rem;
  transition: 100ms ease-in-out;
}

p:hover,
p:focus {
  cursor: pointer;
  transform: scale(0.9);
  border-bottom: 2px solid var(--light-shades);
}

footer {
  background-color: var(--light-shades);
  color: var(--dark-blue);
  position: absolute; /*change this in min width  */
  bottom: 0;
  right: 0;
  left: 0;
}

.footerConti {
  width: 700px;
  justify-content: space-between;
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.copyright {
  margin: 1rem 0rem;
}

.copyrightText {
  margin: 0rem 0rem;
}

#cp:hover,
#cp:focus {
  cursor: auto;
  transform: none;
  border-bottom: none;
}

.socialMedia {
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}

a {
  margin: 0rem 0.5rem;
}

i {
  color: var(--dark-blue);
}
